@import "foundation";
@import "normalize";
@import "settings";

// Compass
@import "compass/css3";
@import "compass/css3/box-sizing";

body {
	background-image: url('../images/background.jpg');
	width: 100%;
	min-height: 100%;
}

.page-content {
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	max-width: 900px;

	.row .columns {
		margin-top: 40px;
		padding: 0 30px;
		@media #{$small} {
			padding: 0 15px;
		}
	}
}